@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	font-size:16px;
	}
body{
	background-color: #F5F5F5;
}
.top{
	background:url(../images/top_bg.jpg) repeat-x;;
	width:100%;
	height:27px;
	}
.top_content{
	width:1000px;
	height:100%;
	margin:0 auto;
	
	}
.top_content li{
	list-style-image:url(../images/li_bg.gif);
	float:right;
	line-height:27px;
	width:80px;
	}
.top_content a:link,.top_content a:visited{
	color:#999;
	text-decoration:none;
	}
.top_content a:hover{
	color:#F00;}
.warp{
	width:1000px;
	margin:0 auto;
	
	}
.logo{
	width: 1000px;
	height:80px;
	background-color: #FFFFFF;
	}
.logo_left{
	width:200px;
	float:left;
	}
.logo_right{
	width:300px;
	height:28px;
	float:right;
	margin-top:26px;
	color:#CCC;
	}
.logo_right img{
	vertical-align:middle;
	margin-right:10px;
	}
.logo_right .tel{
	font-family:"微软雅黑";
	color:#F03;
	font-size:16px;
	}

.nav{
	background-color:#808080;
	width:100%;
	height:40px;
	border-radius:5px;
	}
.nav_mid{
	width:900px;
	margin:0 auto;
	}
.nav_mid_left{
	float:left;
	width:600px;
	}
.nav_mid_left li{
	float:left;
	width:100px;
	line-height:40px;
	list-style-type:none;	
	}
.nav_mid_left li a:link,.nav_mid_left li a:visited{
	color:#FFFFFF;
	text-decoration:none;
	}
.nav_mid_left li a:hover{
	color:#F00;
	}
.nav_mid_right{
	float:left;
	text-align:center;
	}
.search{
	width:150px;
	height:25px;
	margin:5px 0 8px 60px;
	background:url(../images/search.jpg) no-repeat right center;
	background-color:#FFFFFF;
	padding-right:25px;
	border:1px solid #FFFFFF 
	}
.ad{
	width:1000px;
	height:310px;
	overflow:hidden;
	text-align:center;
	}
.ad li{
	list-style-type:none;
	}
.main{
	width:1000px;
	height:270px;
	background-color: #FFFFFF;
	}
.new{
	height:250px;
	width:340px;
	border:1px solid #EEEEEE;
	float:left;
	margin-top:9px;
	}
.course{
	width:410px;
	height:250px;
	float:left;
	border:1px solid #EEEEEE;
	margin:9px 7px;
	}
.sidebar{
	height:250px;
	width:230px;
	border:1px solid #EEEEEE;
	float:right;
	margin-top:9px;
	}
.new_title{
	height:35px;
	border-bottom:5px solid #EEEEEE;
	line-height:35px;
	}
.new_title_left{
	font-size:14px;
	font-family:"微软雅黑";
	color:#CCC;
	float:left;
	width:70%;
	}
.new_title_right a{
	text-decoration:none;
	color:#CCC;
	}
.new_title_right a:hover{
	color:#F00;
	}
.new_pic{
	height:80px;
	margin-top:10px;
	line-height:20px;
	}
.new_pic img{
	float:left;
	margin:0 5px;
	}
.new_pic a{
	color:#C00;
	text-decoration:none;
	}
.new_list{
	margin-top:20px;
	line-height:20px;
	}
.new_list li{
	list-style-type:none;
	background:url(../images/list.jpg) no-repeat;
	padding-left:5px;
	}
.new_list a{
	text-decoration:none;
	color:#000;
	font-family:"微软雅黑";
	}
.new_list span{
	float:right;
	color:#CCC;
	font-size:12px;
	}
.pic_course img{
	float:left;
	margin:10px 5px;
	}
.pic_course {
	line-height:20px;
	}
.course_nav{
	margin:30px 5px;
	height:27px;
	background-color:#CCC;
	border-radius:5px;

	}
.course_nav li{
	list-style-type:none;
	float:left;
	width:100px;
	line-height:27px;
	text-align:center;
	}
.course_nav a{
	text-decoration:none;
	color:#999;

		}
.course_nav a:hover{
	color:#F00;
	}
sidebar_video{
	width:230px;
	height:150px;
	margin-top:5px;
	border:1px solid #E8E8E8;
	}
.sidebar_pic{
	margin-top:5px;
	height:55px;
	border:1px solid #E8E8E8;
	}
.copyright{
	width:100%;
	height:200px;
	background:#E8E8E8;
	margin-top:10px;
	}
.copyright_content{
	
	width:1000px;
	margin:0 auto;
	}
.copyright_content li{
	list-style-type:none;
	width:200px;
	float:left;
	background:url(../images/line.png) no-repeat right center;
	line-height:30px;
	text-align:center;
	font-family:"微软雅黑";
	}
.copyright_content a{
	text-decoration:none;
	font-size:18px;
	
	color:#CCC;
	}
.copyright_content ul li ul li a{
	font-size:14px;
	}
.copyright_content ul li ul li a:hover{
	color:#F00;}